@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar: #1f2a37;
  --color-sidebar-dark: #1a202c;
  --color-brand: #1a56db;
  --color-success-bg: #edf3ec;
  --color-success-text: #438361;
  --color-surface-muted: #f3f4f6;
  --color-warning-bg: #fbf3db;
  --color-warning-text: #cb912e;
  --color-surface: #ffffff;
  --color-border-custom: #e5e7eb;
  --color-muted: #6b7280;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #93c5fd transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: #93c5fd;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}
